.button-component {
  width: 100%;
  height: 70px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(31, 39, 245, 1);
  color: rgba(255, 255, 255, 1);
}

.button-image {
  height: 100%;
}
